html {
  height: 100vh;
}

body {
  height: 100%;
  overflow: hidden;
}

.navbar {
  padding: 20px;
  background-color: #29aae2;
}

.panel-overlay {
  height: 100%;
  width: 100%;
  background-color: #000000a3;
  position: relative;
  z-index: 1;
  max-height: 390px;
  top: 0;
}

#flavors-panel {
  padding: 0;
  color: #ffffff;
}

#about-panel {
  padding: 0;
  color: #ffffff;
}

#logo-img {
  width: 100px;
  position: absolute;
  top: 7px;
  left: 46%;
}

#main-container {
  height: 100%;
  padding: 0px;
}

#main-jumbo {
  height: 100%;
  margin: 0;
  max-height: 390px;
  background: url("../images/temp2.png") no-repeat;
}

#announcement-row {
  max-height: 100px;
  height: 100%;
}

#announcement-bar {
  background-color: #ee6693;
  max-height: 200px;
  height: 100%;
}

#content-row {
  height: 100%;
}

#flavors-panel {
  background: url("../images/temp1.png") no-repeat;
}
